.card {
  display: flex;
  border: 2px solid black;
  flex-basis: 19%;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: tan;
}

.revealed {
  opacity: 0.2;
}

.card > label {
  text-align: center;
}
