.App {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [left-edge] auto [right-board-edge] min-content [right-edge];
  grid-template-rows: [top-page] 15vh [top-board] auto [bottom-board] 15vh [top-footer] 10vh [bottom-page];
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-column: left-edge / right-edge;
  grid-row: top-page / top-board;
}

.Game-board {
  grid-column: left-edge / right-board-edge;
  grid-row: top-board / bottom-board;
}

.Game-lobby {
  grid-column: right-board-edge / right-edge;
  grid-row: top-board / top-footer;
}

.role-based-controls {
  grid-column: left-edge / right-board-edge;
  grid-row: bottom-board / top-footer;
}

.App > footer {
  grid-column: left-edge / right-edge;
  grid-row: top-footer / bottom-page;
}
